
h1 {
  text-align:center;
  color:#A52424;
  text-shadow:2px 2px 3px #AAA; 
  
}

.ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content {
  background-color:#CDD0E4;
}

#add-text {
    
    width:80%;
    margin-left:10%;
}

#add-entry-button {
    width:30%;
    margin-left:35%;
}

#ok-button, #cancel-button {
  width:30%;
  display: inline;
  margin-left:10%;
}

label[for=subject] {
  font-size:1.5em;
  text-align:center;
}

label[for=textarea] {
  font-size:1.5em;
  text-align:center;
}

textarea {
  height:15em;
  border:1px dotted #777;
  font-family:inherit;
}

#errorSubject, #errorBody {
  display:none;
  color: #AD0A0A;
  font-weight:700;
  text-align:center; 
  border:2px solid #AD0A0A;
}

div > .delete {
  width:5em;
  padding:.4em;
  float: right;
}

.swipeLeft {
  background-image:url("css/images/ocean.jpg");
}

@media (max-width:600px) and (min-width:400px) {
  .ui-btn {
    font-size:.8em;
  }
  p {
    font-size:1em;
  }
}

@media (max-width:500px) {
   #add-entry-button {
    width:90%;
    margin-left:5%;
  }
}

@media (min-height:500px) {
  .ui-collapsible-inset, .ui-collapsible-set {
    margin-top:5em;
  }
}

@media (min-width:601px) {
  .ui-btn {
    font-size:1em;
  }

  h1 {
    font-size:3em;
  }
}

